<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./assets/images/favicon-32x32.png') %>">
  <title>Frontend Mentor | Huddle landing page with single introductory section</title>
</head>
<body>

  <div class="landing-page">
    <div class="landing-page__container">
      <header class="landing-page__header" role="banner">
        <%= require('./components/logo/logo.ejs')() %>
      </header>
  
      <div class="landing-page__illustration">
        <img src="<%= require('./assets/images/illustration-mockups.svg') %>" alt="Illustration Mockups" role="figure">
      </div>
  
      <div class="landing-page__content" role="main">
        <h1 class="landing-page__title">Build The Community Your Fans Will Love</h1>
        <p class="landing-page__copy">
          Huddle re-imagines the way we build communities. You have a voice, but so does your audience. 
          Create connections with your users as you engage in genuine discussion.
        </p>
        <%= require('./components/button-cta/button-cta.ejs')() %>
      </div>
  
      <footer class="landing-page__footer" role="contentinfo">
        <%= require('./components/social-networks/social-networks.ejs')() %>
      </footer>
    </div>
  </div>

</body>
</html>